<!DOCTYPE html>
<html>
{{ partial "header.html" . }}
<body>
	<div class="container wrapper post">
		{{ partial "head.html" . }}

		<div id = "main-content">
			<div class="post-header">
				<h1 class="title">{{ .Title }}</h1>
				<div class="meta">Posted at {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
			</div>

			<div class="post-content">
				{{ .Content }}
			</div>

			<div class="post-tags">
				{{ if ne .Type "page" }}
					{{ if gt .Params.tags 0 }}
						<nav class="nav tags">
								<ul class="flat">
									{{ range .Params.tags }}
									<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
									{{ end }}
								</ul>
						</nav>
					{{ end }}
				{{ end }}
			</div>
		</div>

		<div class="post-footer">
			<div style="display: flex; align-items: center; gap: 1rem;">
				<div class="header-image-container" style="flex-shrink: 0;">
					<img class="footer-image" src="/images/gunnar_morling.jpg" alt="Gunnar Morling">
				</div>
				<p style="margin: 0;">Gunnar Morling is an open-source software engineer in the Java and data streaming space. He currently works as a Technologist for Confluent. In his past role at Decodable he focused on developer outreach and helped them build their stream processing platform based on Apache Flink. Prior to that, he spent ten years at Red Hat, where he led the Debezium project, a platform for change data capture.</p>
			</div>
		</div>

		{{ if ne .Type "page" }}
		{{ $pageURL := printf "morling.dev%s" .RelPermalink }}
		<div class="post-discussions">
			<p>Comment below or join the discussion on
			<a href="{{ printf "https://hn.algolia.com/?query=%s" $pageURL | safeURL }}">Hacker News</a>,
			<a href="https://lobste.rs/search?q=domain:morling.dev+title:%22{{ .Title }}%22&what=stories">Lobsters</a>, and
			<a href="{{ printf "https://www.reddit.com/search/?q=url:%s" $pageURL | safeURL }}">Reddit</a>.
			</p>
		</div>
		{{ end }}

		{{- $.Scratch.Set "isDisqus" true -}}

		{{- if and (isset .Params "type") (in .Site.Params.disableDisqusTypes .Params.type) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- end -}}

		{{- if and (isset .Params "disqus") (eq .Params.disqus false) -}}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{- else if and (isset .Params "disqus") (eq .Params.disqus true) -}}
		{{- $.Scratch.Set "isDisqus" true -}}
		{{- end -}}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</div>
	{{ partial "footer.html" . }}
</body>
</html>
