<div class="header">
	<div class="header-image-container">
		<img class="header-image" src="/images/gunnar_morling.jpg" alt="Gunnar Morling">
	</div>
	<div class="header-title">
		<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
		<div class="site-description">
			{{- if isset .Site.Params "subtitle" -}}
			<h2>{{ .Site.Params.Subtitle | markdownify }}</h2>
			{{- end -}}
		</div>
	</div>
	<div class="header-nav-wrapper">
		<nav class="row pre-nav">
			<div class="pull-right">
				<ul class="flat">
					{{- range $index, $key := .Site.Params.Social -}}
					<li>
						<a href="{{ $key.url }}" title="{{ $key.name }}">
							<svg width="17" height="17" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
								<use xlink:href="{{ .Site.BaseURL }}/svg/feather-sprite.svg#{{ $key.icon }}"/>
							</svg>
						</a>
					</li>
					{{- end -}}
				</ul>
			</div>
		</nav>
		<nav class="row nav">
			<div>
				<ul class="flat">
					{{ range .Site.Menus.main }}
					<li>
						<a href="{{ .URL }}">{{ .Name }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
			<div class="pull-right">
				<div class="club">
					<form id="myForm">
						<input type="text" id="inputSearch" name="q" placeholder="Search..." onfocus="warmUp(this)">
						<button type="submit" id="buttonSubmitSearch" style="line-height: normal;"><i id="iconSearch" class="fa fa-search"></i></button>
					</form>
				</div>
			</div>
		</nav>
	</div>
</div>

<script type="text/javascript">
	window.addEventListener( "load", function () {
		const form = document.getElementById( "myForm" );

		form.addEventListener("submit", function (event) {
			event.preventDefault();
			sendData(new FormData(form));
		});
	});
</script>
